packages:
    yum:
        gcc-c++: []
        gcc-gfortran: []
        python27-devel: []
        atlas-sse3-devel: []
        lapack-devel: []
        libpng-devel: []
        zlib-devel: []
        postgresql93-devel: []

container_commands:
    00_install_numpy:
        command: "pip install numpy"

    01_install_scipy:
        command: "pip install scipy"

    02_install_pandas:
        command: "pip install pandas"

    03_install_sklearn:
        command: "pip install scikit-learn"


option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800
